* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(to bottom, #34495E, #5DADE2);
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* TITLE */
.header h1 {
  color: #fff;
  font-size: 120px;
  text-align: center;
  margin-bottom: 40px;
}

/* COUNTER */
.counter {
  width: 40%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #fff;
  padding: 20px 0;
  border-radius: 12px;
  box-shadow:  0 5px 10px rgba(0, 0, 0, 0.6);
  background-image: linear-gradient(to top, #34495E, #5DADE2);
}

.counter h3 {
  padding-bottom: 30px;
  color: #fff;
  font-size: 30px;
}

/* RESET */
.reset {
  color: #E74C3C;
  font-size: 30px;
  background-color: transparent;
  border: none;
  margin-bottom: 10%;
  cursor: pointer;
}

/* WRAPPER */
.wrapper {
  width: 400px;
  height: 100px;
  min-width: 380px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
}

.wrapper button {
  width: 30%;
  text-align: center;
  font-size: 65px;
  font-weight: 600;
  cursor: pointer;
  margin: 0 10%;
  border: none;
  background-color: #fff;
}

.wrapper span.num {
  width: 100%;
  font-size: 65px;
  font-weight: 600;
  text-align: center;
  border-right:  3px solid rgba(0, 0, 0, 0.2);
  border-left:  3px solid rgba(0, 0, 0, 0.2);
  pointer-events: none;
}

/* SPAN ELEMENTS */

.spanContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.yourHours, .yourDays, .yourMonths {
  color: #fff;
  font-size: 20px;
  padding-right: 20px;
}

.footer {
  position: fixed; 
  bottom: 0;
  width: 100%;
  height: 20px; 
  display: flex;
  justify-content: center;
  align-items: center; 
  background-color: #f0f0f0; 
  padding: 20px;
}

.footer p {
  margin-right: 20px; 
  font-size: 16px;
}

.footer i {
  font-size: 25px;
  cursor: pointer;
}

/* TABLET */

@media screen  and (min-width: 481px) and (max-width: 1023px){
  .main {
    max-height: calc(100vh - 20px);
    overflow-y: auto;
  }

  .counter {
    width: auto;
  }

  .header h1 {
    font-size: 7rem;
    margin-top: 100px;
    margin-bottom: 80px;
    padding: 0 20px;
  }

  .counter h3 {
    font-size: 2.5rem;
  }

  .reset {
    font-size: 20px;
  }

  .wrapper {
    width: 400px;
    height: 80px;
    min-width: 380px;
    margin: 0 100px;
  }

  .wrapper button {
    font-size: 50px;
    margin: 0 auto;
  }

  .wrapper span.num {
    width: 35%;
    font-size: 30px;
  }

  .spanContainer {
    display: flex;
    justify-content: center;
  }

  .yourHours, .yourDays, .yourMonths {
    font-size: 25px;
    text-align: center;
    padding-right: 10px;
  }
}

/* MOBILE */

@media screen and (max-width: 480px) {
  .main {
    max-height: calc(100vh - 20px);
    overflow-y: auto;
  }

  .header h1 {
    text-align: center;
    font-size: 4.5rem;
    margin: 0 20px;
    margin-top: 40px;
    margin-bottom: 80px;
  }

  .counter {
    width: auto;
  }

  .counter h3 {
    font-size: 1.5rem;
  }

  .reset {
    font-size: 17px;
  }

  .wrapper {
    width: 200px;
    height: 50px;
    min-width: 260px;
    margin: 0 40px;
  }

  .wrapper button {
    font-size: 30px;
    margin: 0 auto;
  }

  .wrapper span.num {
    width: 35%;
    font-size: 30px;
  }

  .spanContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .yourHours, .yourDays, .yourMonths {
    font-size: 15px;
    text-align: center;
  }
}
